
clipn
copairs
pandas
numpy
matplotlib
seaborn
umap
scikit-learn
natsort
plotly
colorcet
openpyxl
umap-learn
# fastcluster  # this is breaking for me. 
ace_tools_open
community
pyvis
python-louvain
optuna
torch
hdbscan
xlsxwriter
